<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="map.js"></script>
</head>

<body>
<div id='header'>
  <a href="http://www.theguardian.com/us-news/ng-interactive/2015/jun/01/the-counted-police-killings-us-database">The Counted Database</a>: People killed by police in the United States in the year 2015.
</div>

<nav id='menu-ui' class='menu-ui'>
  <a href='#' id='filter-armed'>Unarmed only</a>
</nav>

<div id="map_geo"></div>



</body>
</html>
